<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>

        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://nsasse.de:5432/ba</property>
        <property name="connection.username">ba</property>
        <property name="connection.password">ra0405+#</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <property name="hibernate.current_session_context_class">
            org.hibernate.context.internal.ThreadLocalSessionContext
        </property>

        <mapping class="de.nsasse.roboadvisor.portfolio.model.ProductType"/>
        <mapping class="de.nsasse.roboadvisor.portfolio.model.Product"/>
        <mapping class="de.nsasse.roboadvisor.portfolio.model.Region"/>
        <mapping class="de.nsasse.roboadvisor.portfolio.model.Portfolio"/>
        <mapping class="de.nsasse.roboadvisor.portfolio.model.Preorder"/>
        <mapping class="de.nsasse.roboadvisor.contract.model.User"/>

    </session-factory>

</hibernate-configuration>
